.dw-button {
    background-color: #ffffff00;
    color: #fff;
    width: fit-content;
    border: #36ff83 0.2em solid;
    border-radius: 33px;
    text-align: right;
    transition: all 0.6s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 9px;
    gap: 10px;
  }
  
  .dw-button:hover {
    background-color: #27c757;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .dw-button i {
    display: flex;
    transition: all 0.6s ease;
  }