.rating {
    display: inline-block;
  }
  
  .rating input {
    display: none;
  }
  
  .rating label {
    float: left;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  .rating label:before {
    content: '\2605';
    font-size: 24px;
  }
  